*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::before {
  content: "";
  display: flex;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgba(48, 45, 45, 0.4), rgba(36, 35, 35, 0.3));
}

body {
  background-image: url(/imgs/greg-rosenke-_8mv1nzwb_s-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

li {
  color: rgb(16, 248, 159);
}

a {
  color: rgb(59, 226, 37);
}

.hamburger-bars {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 2em;
  height: 2em;
  margin: 0.2em;
  border: rgb(245, 245, 219) 4px solid;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset 0 0 1em rgb(245, 245, 219), 0 0 1em rgb(245, 245, 219), inset 0 0 0.3em white, 0 0 2em white;
}
.hamburger-bars span {
  display: flex;
  width: 1em;
  height: 0.125em;
  margin: 1.5px;
  align-self: center;
  background-color: rgb(245, 245, 219);
}

.main-nav {
  position: absolute;
  display: flex;
  width: 50%;
  font-size: 2em;
  font-family: "Jost", sans-serif;
  margin: -1.6em 0;
  z-index: 10;
}
.main-nav .main-nav__menu {
  transform: translateX(-200%);
  transition: transform ease-in-out 250ms;
}
.main-nav li {
  list-style: none;
  display: grid;
  border-radius: 50%;
  border: rgb(245, 245, 219) 4px solid;
  height: 6em;
  align-content: center;
  text-shadow: 0 0 0.1em rgb(245, 245, 219), 0 0 0.5em white;
  box-shadow: inset 0 0 1em rgb(245, 245, 219), 0 0 1em rgb(245, 245, 219), inset 0 0 0.3em white, 0 0 2em white;
}
.main-nav li a {
  color: rgb(245, 245, 219);
  text-decoration: none;
  text-align: center;
  margin: auto;
}
.main-nav li a:hover {
  color: rgb(4, 255, 108);
}
.main-nav li#about {
  position: relative;
  left: 1.8em;
  top: 0.5em;
  width: 4em;
  height: 4em;
  transform: rotate(-19deg);
}
.main-nav li#work {
  position: relative;
  left: 3.1em;
  height: 5.5em;
  width: 5.5em;
}
.main-nav li#contact {
  position: relative;
  left: 2em;
  bottom: 0.3em;
  height: 4.8em;
  width: 4.8em;
  transform: rotate(19deg);
}
.main-nav .main-nav__about-link, .main-nav .main-nav__contact-link {
  font-size: 1.3em;
}
.main-nav .main-nav__work-link {
  font-size: 1.7em;
}

.is-open .main-nav__menu {
  transform: translateX(0);
}
.is-open .middle-bar {
  visibility: hidden;
}
.is-open .top-bar {
  transform: rotate(45deg);
  margin-top: 0.2em;
  width: 1.3em;
  transition: transform ease-in 150ms;
}
.is-open .bottom-bar {
  transform: rotate(-45deg);
  width: 1.3em;
  position: absolute;
  transition: transform ease-in 350ms;
}

.intro {
  position: relative;
  display: block;
  color: rgb(4, 255, 108);
  font-family: "Zen Loop", cursive;
  font-size: 3em;
  text-align: right;
  margin: 1em;
  height: 100vh;
  width: auto;
  text-shadow: 1px 1px 1px rgb(173, 243, 8), 2px 0 2px rgb(244, 247, 203), 0 0 0.9em rgb(255, 254, 196);
}

.intro__hello {
  width: auto;
  color: rgb(174, 255, 23);
  font-size: 3.3em;
}

.intro__name {
  width: 100%;
}

.intro__title {
  width: 100%;
}

.intro__location {
  width: 100%;
}

.intro-location__span {
  font-size: 2em;
  color: rgb(174, 255, 23);
  position: relative;
  top: 0.2em;
}

.about {
  display: grid;
  position: relative;
  width: 100vw;
  padding: 2.5em;
  background-color: rgba(229, 231, 221, 0.6);
}
.about h1 {
  font-family: "Water Brush", cursive;
}

.about__wrapper {
  margin: 1em;
}

.work {
  display: grid;
  position: relative;
  width: 100vw;
  padding: 2.5em;
  background-color: rgba(250, 139, 250, 0.7);
}
.work h1 {
  font-family: "Water Brush", cursive;
}

.work__project-description {
  width: 90%;
  height: auto;
}

.work__project-image {
  width: 50vw;
  height: auto;
  margin: 2em;
}

.contact {
  background-color: rgba(229, 231, 221, 0.6);
}
.contact h1 {
  font-family: "Water Brush", cursive;
}

.contact__wrapper {
  margin: 2em;
}