*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body::before {
  content: "";
  display: flex;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(0deg, rgba(48, 45, 45, 0.4), rgba(36, 35, 35, 0.5));
  background-size: 100%;
}

body {
  background-image: url(/imgs/greg-rosenke-_8mv1nzwb_s-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hamburger-bars {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 2em;
  height: 2em;
  margin: 0.2em;
  border: rgb(245, 245, 219) 4px solid;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset 0 0 1em rgb(245, 245, 219), 0 0 1em rgb(245, 245, 219), inset 0 0 0.3em white, 0 0 2em white;
}
.hamburger-bars span {
  display: flex;
  width: 1em;
  height: 0.125em;
  margin: 1.5px;
  align-self: center;
  background-color: rgb(245, 245, 219);
}

.main-nav {
  position: fixed;
  top: -0.025em;
  display: flex;
  width: fit-content;
  font-size: 2em;
  font-family: "Quicksand", sans-serif;
  z-index: 10;
}
.main-nav .main-nav__menu {
  transform: translateX(-200%);
  transition: transform ease-in-out 250ms;
  visibility: none;
  height: 0;
}
.main-nav li {
  list-style: none;
  display: grid;
  border-radius: 50%;
  border: rgb(245, 245, 219) 4px solid;
  height: 6em;
  text-shadow: 0 0 0.1em rgb(245, 245, 219), 0 0 0.5em white;
  box-shadow: inset 0 0 1em rgb(245, 245, 219), 0 0 1em rgb(245, 245, 219), inset 0 0 0.3em white, 0 0 2em white;
}
.main-nav li a {
  color: rgb(245, 245, 219);
  text-decoration: none;
  margin: auto;
}
.main-nav li a:hover {
  color: rgb(174, 255, 23);
}
.main-nav li#about-bubble {
  position: relative;
  left: 1.8em;
  top: 0.5em;
  width: 4em;
  height: 4em;
  transform: rotate(-19deg);
}
.main-nav li#work-bubble {
  position: relative;
  left: 3.1em;
  height: 5.5em;
  width: 5.5em;
}
.main-nav li#contact-bubble {
  position: relative;
  left: 2em;
  bottom: 0.3em;
  height: 4.8em;
  width: 4.8em;
  transform: rotate(19deg);
}
.main-nav .main-nav__about-link, .main-nav .main-nav__contact-link {
  font-size: 1.1em;
}
.main-nav .main-nav__work-link {
  font-size: 1.7em;
}

.is-open .main-nav__menu {
  display: block;
  transform: translateX(0);
  transition: transform ease-in-out 250ms;
  visibility: visible;
}
.is-open .middle-bar {
  visibility: hidden;
}
.is-open .top-bar {
  transform: rotate(45deg);
  margin-top: 0.2em;
  width: 1.3em;
  transition: transform ease-in 200ms;
}
.is-open .bottom-bar {
  transform: rotate(-45deg);
  width: 1.3em;
  position: absolute;
  transition: transform ease-in 350ms;
}

.intro-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: end;
}

.intro {
  position: relative;
  display: flex;
  color: rgb(174, 255, 23);
  font-family: "Zen Loop", cursive;
  font-size: 2.7em;
  text-align: right;
  margin: 1em 1em;
  height: 100vh;
  width: auto;
  text-shadow: 1px 1px 1px rgb(173, 243, 8), 2px 0 3px rgb(244, 247, 203), 0 0 2em rgb(255, 254, 196);
}
@media (min-width: 50em) {
  .intro {
    font-size: 3.3em;
  }
}
@media (min-width: 70em) {
  .intro {
    font-size: 3.9em;
  }
}

.intro__hello {
  width: auto;
  color: rgb(174, 255, 23);
  font-size: 3.3em;
}

.intro__name {
  width: 100%;
}

.intro__title {
  width: 100%;
}

.intro__location {
  width: 100%;
}

.intro-location__span {
  font-size: 2em;
  color: rgb(174, 255, 23);
  position: relative;
  top: 0.2em;
}

.about {
  display: grid;
  width: 100%;
  height: auto;
  padding: 9vh 2.5em;
}
.about .about__wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(107, 105, 105, 0.5);
  padding: 2em;
  border-radius: 25px;
  backdrop-filter: blur(2px);
}
.about img {
  display: none;
}
.about .laptop__image {
  grid-area: image;
}
.about .about__wrapper {
  grid-area: wrapper;
}
@media (min-width: 40em) {
  .about {
    padding: 10vh 5vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    grid-template-areas: "image wrapper" "image wrapper" "image wrapper";
  }
  .about img {
    display: flex;
    width: 40vw;
    height: auto;
    border-radius: 24px;
  }
}
@media (min-width: 60em) {
  .about img {
    width: 30vw;
    margin: 1vh 1.7vw;
  }
  .about {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content;
    grid-template-areas: " . image wrapper wrapper . " " . image wrapper wrapper . " " . image wrapper wrapper . ";
  }
}
@media (min-width: 86em) {
  .about img {
    width: 20vw;
  }
}
.about h1 {
  font-family: "Zen Loop", cursive;
  font-size: 3em;
  color: rgb(245, 245, 219);
  margin-bottom: 0.3em;
  text-shadow: 0 0 0.1em rgb(245, 245, 219), 0 0 0.5em white;
}
.about p, .about ul {
  color: rgb(245, 245, 219);
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
}
.about li {
  margin-left: 2em;
  margin-bottom: 0.3em;
}
.about .contact-link {
  font-family: "Zen Loop", cursive;
  color: rgb(245, 245, 219);
  font-size: 1.6em;
  text-decoration: none;
  font-weight: 600;
  text-shadow: 0 0 0.1em rgb(245, 245, 219), 0 0 0.5em white;
}
.about .contact-link:hover {
  color: rgba(117, 66, 117, 0.3);
}

.work {
  display: grid;
  position: relative;
  width: 100vw;
  height: auto;
  padding: 9vh 2.5em;
  background-color: rgba(117, 66, 117, 0.7);
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "container" "work__project-image";
}
.work .work__wrapper {
  grid-area: container;
}
.work a {
  grid-area: work__project-image;
}
.work .work__wrapper {
  background-color: rgba(107, 105, 105, 0.5);
  padding: 2em;
  border-radius: 25px;
  backdrop-filter: blur(2px);
}
@media (min-width: 60em) {
  .work {
    display: grid;
    padding: 10vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr min-content 1fr;
    grid-template-areas: "container    work__project-image work__project-image" "container    work__project-image work__project-image" "container    work__project-image work__project-image";
  }
  .work .work__project-image {
    display: flex;
    max-width: 45em;
    height: auto;
    width: 85%;
  }
  .work .work__header {
    display: flex;
    max-width: 25em;
  }
  .work .work__project-title {
    display: flex;
    margin-top: 0.3em;
    max-width: 25em;
  }
  .work .work__project-description {
    display: flex;
    margin-top: 2em;
    max-width: 25em;
  }
}
.work h1 {
  font-family: "Zen Loop", cursive;
  font-size: 3em;
  color: rgb(245, 245, 219);
  margin-bottom: 0.3em;
  text-shadow: 0 0 0.1em rgb(245, 245, 219), 0 0 0.5em white;
}

.work__project-description, .work__project-title {
  color: rgb(245, 245, 219);
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
}

.work__project-title {
  font-size: 1.44em;
}

.work__project-image {
  display: flex;
  width: 70%;
  height: auto;
  margin: 2em auto 0;
  border-radius: 6px;
  box-shadow: inset 0 0 1em rgb(245, 245, 219), 0 0 1em rgb(245, 245, 219), inset 0 0 0.3em white, 0 0 2em white;
}

.contact {
  padding: 2.5em;
  height: 0 auto;
  grid-template-columns: 1fr;
}
.contact .contact__title {
  grid-area: contact__title;
}
.contact .contact__form-wrapper {
  grid-area: form-wrapper;
}
@media (min-width: 40em) {
  .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "contact__title form-wrapper form-wrapper";
  }
  .contact .contact__form-wrapper {
    max-width: 40em;
  }
  .contact .name, .contact .email, .contact .subject {
    font-size: 0.8em;
  }
  .contact .message {
    font-size: 1.0666666667em;
  }
}
@media (min-width: 80em) {
  .contact {
    padding: 7vh 15vw;
    font-size: 0.9230769231em;
  }
}
.contact h1 {
  font-family: "Zen Loop", cursive;
  font-size: 3em;
  color: rgb(245, 245, 219);
  margin-bottom: 0.3em;
  text-shadow: 0 0 0.1em rgb(245, 245, 219), 0 0 0.5em white;
  padding: 0 0.5em;
  justify-self: end;
}

.name, .email, .subject {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 0.6em;
  padding: 0.4em;
  font-size: 1.2em;
}

.message {
  border-radius: 7px;
  margin-bottom: 0.6em;
  padding: 0.4em;
  width: 100%;
  height: 30vh;
  font-size: 1.56em;
}

.submit {
  background: none;
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: 0.4em;
  position: relative;
  margin: 0 auto;
  border: rgb(245, 245, 219) 4px solid;
  border-radius: 50%;
  box-shadow: inset 0 0 1em rgb(245, 245, 219), 0 0 1em rgb(245, 245, 219), inset 0 0 0.3em white, 0 0 2em white;
  font-family: "Zen Loop", cursive;
  font-size: 3em;
  color: rgb(245, 245, 219);
  margin-bottom: 0.3em;
  text-shadow: 0 0 0.1em rgb(245, 245, 219), 0 0 0.5em white;
  font-weight: 500;
}
.submit:hover {
  cursor: pointer;
}

footer ul {
  background-color: rgba(117, 66, 117, 0.7);
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: center;
}
footer ul a {
  display: flex;
  width: 100%;
  color: rgb(245, 245, 219);
  text-decoration: none;
  padding: 1em;
}

.thank-you {
  background-image: url(/imgs/greg-rosenke-_8mv1nzwb_s-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.thank-you-message {
  display: flex;
  flex-direction: column;
  color: rgb(174, 255, 23);
  font-family: "Zen Loop", cursive;
  font-size: 2.7em;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  text-shadow: 1px 1px 1px rgb(173, 243, 8), 2px 0 3px rgb(244, 247, 203), 0 0 2em rgb(255, 254, 196);
}

.return-button__bubble {
  background: none;
  display: flex;
  width: 4em;
  height: 4em;
  position: relative;
  margin: 1em auto;
  border: rgb(245, 245, 219) 4px solid;
  border-radius: 50%;
  box-shadow: inset 0 0 1em rgb(245, 245, 219), 0 0 1em rgb(245, 245, 219), inset 0 0 0.3em white, 0 0 2em white;
}
.return-button__bubble a {
  font-size: 1em;
  color: rgb(245, 245, 219);
  position: relative;
  margin: 1em auto;
  transform: rotate(-19deg);
  text-decoration: none;
  line-height: 0.8em;
  font-weight: 600;
  text-shadow: 0 0 0.1em rgb(245, 245, 219), 0 0 0.5em white;
}
.return-button__bubble:hover {
  cursor: pointer;
}