@use 'variables';
@use 'modules';

.about {
    display: grid;
    width: 100%;
    height: auto;
    padding: 9vh 2.5em;
    

    
    .about__wrapper {
        display: flex;
        flex-direction: column;
        // grid-template-columns: 1fr;
        // grid-template-rows: 1fr;
        // grid-template-areas:
        // "about__title"
        // "about__para"
        // "getInTouch__para";

        // margin: 0 2em;

        @include modules.text-container-bg;
    }

    img {
        display: none;
        
    }

    .laptop__image {
        grid-area: image;
    }

    .about__wrapper {
        grid-area: wrapper;
    }

    // .about__title {
    //     grid-area: about__title;
    
    // }

    // .about__para {
    //     grid-area: about__para;

    // }

    // .getInTouch__para {
    //     grid-area: getInTouch__para;
    // }

    @include modules.mq {

        padding: 10vh 5vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: max-content;
        grid-template-areas:
        "image wrapper"
        "image wrapper"
        "image wrapper";

        img {
            display: flex;
            width: 40vw;
            height: auto;
            border-radius: 24px;
            
        }
   
    }

    @include modules.mq (60em) {
        img {
            width:30vw;
            margin: 1vh 1.7vw;
        }
        
        & {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: max-content;
            grid-template-areas:
            " . image wrapper wrapper . "
            " . image wrapper wrapper . "
            " . image wrapper wrapper . ";

    
        }
    }

    @include modules.mq (86em) {
        img {
            width: 20vw;
        }
    }
    
    
    h1 {
       @include modules.section-title;
       @include modules.neon-text;
    }

    p, ul {
        color: variables.$nav-secondary-clr;
        font-size: variables.$primary-font-size;
        font-family: variables.$primary-font;
        font-weight: 500;
        margin-bottom: 1em;
    }

    li {
        margin-left: 2em;
        margin-bottom: 0.3em;
    }

    .contact-link {
        font-family: variables.$title-font;
        color: variables.$nav-secondary-clr;
        font-size: variables.$link-font-size;
        text-decoration: none;
        font-weight: 600;

        @include modules.neon-text;
        

        &:hover {
            color: variables.$primary-clr;
        }
    }

    
}

