@use 'variables';
@use 'modules';

.about {
    display: grid;
    position:relative;
    width: 100vw;
    padding: 2.5em;
    background-color: rgba($color: #e5e7dd, $alpha: 0.6);
    
    h1 {
        font-family: variables.$title-font;
    }
}

.about__wrapper {
    margin: 1em;
}
