@use 'variables';


* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


body {
    background-color: rgb(27, 16, 39);
}

li {
    color: variables.$secondary-clr;
    
}

a {
    color: variables.$link-clr;
}