@use 'colors';


* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


body {
    background-color: colors.$primary-clr;
    
}

li {
    color: colors.$secondary-clr;
    
}

a {
    color: colors.$link-clr;
}