@use 'variables';


* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


body {
    background-image: url(/imgs/tim-mossholder-rFD2-gnf0ws-unsplash-cropped-low.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}



li {
    color: variables.$secondary-clr;
    
}

a {
    color: variables.$link-clr;
}