@use 'variables';
@use 'modules';

.intro-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: end;
}

.intro {
    position: relative;
    display: flex;
    color: variables.$title-clr;
    font-family: variables.$intro-font;
    font-size: calc(variables.$title-font-size * 0.9);
    text-align: right;
    margin: 1em 1em;
    height: 100vh;
    width: auto;
    text-shadow: 1px 1px 1px rgb(173, 243, 8), 2px 0 3px rgb(244, 247, 203), 0 0 2em rgb(255, 254, 196);

    @include modules.mq(50em) {
        font-size: calc(variables.$title-font-size * 1.1);
    }

    @include modules.mq(70em) {
        font-size: calc(variables.$title-font-size * 1.3);
    }
}

.intro__hello {
    width: auto;
    color: variables.$title-clr;
    font-size: 3.3em;

    
}

.intro__name {
    width: 100%;
    
    
}

.intro__title {
    width: 100%;
    
}

.intro__location {
    width: 100%;
    
}

.intro-location__span {
    font-size: 2em;
    color:rgb(174, 255, 23);
    position: relative;
    top: 0.2em;
}