@use 'variables';
@use 'modules';


.hamburger-bars {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position:fixed;
    width: 2em;
    height: 2em;
    margin: 0.2em;
    border: variables.$nav-secondary-clr 4px solid;
    justify-content: center;
    border-radius: 50%;
    

    span {
        display: flex;
        width: 1em;
        height: 0.125em;
        margin: 1.5px;
        align-self: center;
        background-color: variables.$nav-secondary-clr;
        
    }
    
    @include modules.neon-border;
}

.main-nav {
    position: fixed;
    display: flex;
    width: fit-content;
    font-size: variables.$nav-font-size;
    font-family: variables.$primary-font;
    margin: -1.6em 0;
    z-index: 10;
      

    .main-nav__menu {
        transform: translateX(-200%);
        transition: transform ease-in-out 250ms;
        // display:none;
        visibility: none;
        height: 0;
    }

    li {
        list-style: none;
        display: grid;
        border-radius: 50%;
        border: variables.$nav-secondary-clr 4px solid;
        height: 6em;
        
        @include modules.neon-text;
       
        a {
            color: variables.$nav-secondary-clr;
            text-decoration: none;
            margin: auto;
            
                                  
            &:hover {
                color: variables.$title-clr;
            }
        }

        &#about-bubble {
            position: relative;
            left: 1.8em;
            top: 0.5em;
            width: 4em;
            height: 4em;
            transform: rotate(-19deg);
            
        }

        &#work-bubble {
            position: relative;
            left: 3.1em;

            height: 5.5em;
            width: 5.5em;
            
            
        }

        &#contact-bubble {
            position: relative;
            left: 2em;
            bottom: 0.3em;
            height: 4.8em;
            width: 4.8em;
            transform: rotate(19deg);
        }
        
        @include modules.neon-border;
        
    }

    .main-nav__about-link, .main-nav__contact-link{
        font-size: 1.3em;
        
    }
    .main-nav__work-link {
        font-size: 1.7em;
    }

    
}

.is-open {
    
    .main-nav__menu {
        display: block;
        transform: translateX(0);
        transition: transform ease-in-out 250ms;
        visibility:visible;
    }

    .middle-bar {
        visibility: hidden;
    }

    .top-bar {
        transform: rotate(45deg);
        margin-top: 0.2em;
        width: 1.3em;
        transition: transform ease-in 200ms;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        width: 1.3em;
        position:absolute;
        transition: transform ease-in 350ms;

    }
}
