@use 'variables';
// neon look

@mixin neon-border {
  box-shadow: inset 0 0 1em variables.$nav-secondary-clr, 0 0 1em variables.$nav-secondary-clr, inset 0 0 0.3em white, 0 0 2em white;
}

@mixin neon-text {
  text-shadow: 0 0 0.1em variables.$nav-secondary-clr, 0 0 0.5em white;
}

@mixin section-title {
  font-family: variables.$title-font;
  font-size: variables.$title-font-size;
  color: variables.$nav-secondary-clr;
  margin-bottom: 0.3em;
}