//COLOURS

//basic theme
$primary-clr: rgb(100, 3, 180);
$secondary-clr: rgb(16, 248, 159);
$title-clr: rgb(4, 255, 108);

$link-clr: rgb(59, 226, 37);

$nav-primary-clr: rgb(252, 252, 24);
$nav-secondary-clr: rgb(245, 245, 219);


//additional colours



//main fonts
$title-font: 'Water Brush', cursive;
$nav-font: 'Jost', sans-serif;
$primary-font: 'Jost', sans-serif;
$secondary-font: monospace;

$title-font-size: 3em;
$nav-font-size: 2em;
$primary-font-size: 2.5em;
$secondary-font-size: 1.4em;

//additional/special fonts