//COLOURS

//basic theme
$primary-clr: rgba(#754275c0, 0.3);
$secondary-clr: rgb(16, 248, 159);
$title-clr: rgb(174, 255, 23);

$link-clr: rgb(59, 226, 37);

$nav-primary-clr: rgb(252, 252, 24);
$nav-secondary-clr: rgb(245, 245, 219);


//additional colours



//main fonts
$intro-font: 'Zen Loop', cursive;
$title-font: 'Zen Loop', cursive;
// $nav-font: 'Jost', sans-serif;
$primary-font: 'Quicksand', sans-serif;

$title-font-size: 3em;
$nav-font-size: 2em;
$primary-font-size: 1.2em;
$link-font-size: 1.6em;

//additional/special fonts