* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*places the background image and gradient*/
body {
    background: url(../imgs/London-Skyline2.png), linear-gradient(to right, #354e85, #297a88 45%, #229292 74%, #29aca5);
    /* background-image: url(../imgs/London-Skyline2.png); */
    background-size: contain;
    background-repeat: no-repeat;
    
}


li {
   /* display: flex;*/
   list-style: none;
}

a  {
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    
}


/*header seems to be unnecessary
.header{
    border-bottom: 1px solid #E2E8F0;
}*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    
}

.hamburger {
    display: none;
    z-index: 1;
    max-width: 12vw;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,#363269, #23a09a);
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #f2edf7;
}


/* nav link hover doesn't work as intended - it only shows after clicking*/
.nav-link:hover {
    color:#48e6d8;
}

/* .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
} */

@media only screen and (max-width: 770px) {
    .nav-menu {
        position: fixed;
        left: -120%;
        top: 0;
        flex-direction: column;
        /* background-color: darkblue; */
        width: 60%;
        border-radius: 15px;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
        /* box-shadow: 0 13px 32px #6c4299; */
    }

    .nav-menu.active {
        left: 1em;
        top: 0.4em;
        z-index: 1;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #f0f5f5;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #f0f5f5;
    }

}  
/*introduction*/
    
.introduction h1 {
    font-family: 'Allison', cursive;
    font-size: 5rem;
    text-shadow: 0 0 7px #053636, 0 0 6px #062931;
    color: #e60532;
    padding: 8%;
    /* transform: rotate(17deg); */
    position: relative;
    bottom: 0.23em;
    display: inline-grid;
}

.introduction h2 {
    font-family: 'Allison', cursive;
    font-size: 3em;
    padding: 5%;
    position:relative;
    bottom: 3.1em;
    margin: auto 0.7em;
    color: #f0e5e4;
    text-shadow: 0 0 7px #053636, 0 0 7px #062931;
}

.introduction h3 {
    padding: 8%;
    font-family: 'Allison', cursive;
    font-size: 2.4em;
    position: relative;
    left: 3.7em;
    bottom: 3em;
    color: #f1e8e8;
}

.introduction h4 {
    color: #f1e8e8;
    font-family: 'Allison', cursive;
    font-size: 2.6em;
    position: relative;
    bottom: 4.4em;
    margin: auto 1.5em;
}

.introduction h4 span {
    color: #e60532;
    text-shadow: 0 0 7px #053636, 0 0 px #062931;
}

/* About section*/

.about {
    padding: 8%;
    position: relative;
    bottom: 2em;
    
}

.about h3, .work h3 {
    font-family: 'Allison', cursive;
    font-size: 3.3em;
    position: relative;
    bottom: 1.3em;
    left: 46vw;
    z-index: 1;
    color: #181616;
    text-shadow: 0 0 7px #d6e7e7, 0 0 7px #c1cacc;
    
}
.work h3 {
    margin: auto -0.5em;
}

.container {
    border: 1px solid rgba(10, 14, 13, 0.4);
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
    height: auto;
    overflow: hidden;
    padding: 1.3em;
    position: relative;
    bottom: 4.6em;
    background-color: rgba(250, 253, 253, 0.3);
    backdrop-filter: blur(45px) saturate(70%) contrast(80%) brightness(130%);
    content: '';
        
    
}

.about p {
    color: rgb(52, 52, 53);
    z-index: 2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    
}



/*make a frosting glass effect for the p section and try to make the h3 get stuck to the border of the p;
figure out the whole background setting and possibly waht dynamic items we wan to put in the page - js;
fix the "about" button in the hamburger; it is not entirely clickable*/