* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

/*places the background image and gradient*/
body {
    background: url(../imgs/London-Skyline2.png), linear-gradient(to right, #354e85, #297a88 45%, #229292 74%, #29aca5);
    /* background-image: url(../imgs/London-Skyline2.png); */
    background-size: contain;
    background-repeat: no-repeat;
    
}


li {
   /* display: flex;*/
   list-style: none;
}

a  {
    text-decoration: none;
    font-family: 'Allison', cursive;
}


/*header seems to be unnecessary
.header{
    border-bottom: 1px solid #E2E8F0;
}*/

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 1;
    
}

.hamburger {
    display: none;
    z-index: 1;
    max-width: 12vw;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,#363269, #23a09a);
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 3em;
    font-weight: 400;
    color: #f2edf7;
}


/* nav link hover doesn't work as intended - it only shows after clicking*/
.nav-link:hover {
    color:#062931;
    text-shadow: 7px 15px 0 #f8f5f4, 12px 34px 0 #f51303;
    
    /*in the full size website move the nav links to the middle of the buildings - will look better*/
}

/* .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
} */

@media only screen and (max-width: 700px) {
    /*nav menu beginning*/
    .nav-menu {
        position: fixed;
        left: -120%;
        top: 0;
        flex-direction: column;
        /* background-color: darkblue; */
        width: 60%;
        border-radius: 15px;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
        /* box-shadow: 0 13px 32px #6c4299; */
    }

    .nav-menu.active {
        left: 1em;
        top: 0.4em;
        z-index: 1;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: #f0f5f5;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: #f0f5f5;
    }
    /*ending of the nav*/

    .framed-image {
        width: 100%;
        height: 0 auto;
        display: grid;
        text-align: center;
        position: relative;
        bottom: 38vw;
    }

    .image {
        width: 95%;
        height: 0 auto;
        
            

    }

    .image2 {
        width: 56%;
        height: 0 auto;
        position: relative;
        top: 62vw;
        left: 26vw;

    }

}  
/*introduction  -- work on the flexible positioning of the introduction elements, so not much editig is necessary for bigger screen*/


/*placeholder image of pontu - a image link of the project goes here*/
.project-image {
    width: 100%;
    height: auto;
    
}

.introduction {
    margin: 0 auto;
    height: auto;
    width: 90%;
    /* background:rgba(10, 14, 13, 0.4); */
    
}

    .introduction h1 {
        font-family: 'Allison', cursive;
        font-size: 19vw;
        text-shadow: 0 0 7px #053636, 0 0 6px #062931;
        color: #e60532;
        padding: 8%;
        position: relative;
        bottom: 135vw;
        display: inline-grid;
    }/*Hello*/

    .introduction h2 {
        font-family: 'Allison', cursive;
        font-size: 13vw;
        display: inline-flex;
        position: relative;
        bottom: 76vw;
        left: 12vw;
        margin: auto 0;
        color: #f0e5e4;
        text-shadow: 0 0 7px #053636, 0 0 7px #062931;
        display: inline-grid;
    } /*Front End Developer*/

    .introduction h3 {
        font-family: 'Allison', cursive;
        font-size: 10vw;
        position: relative;
        /* border: solid 3px blue; */
        bottom: 77vw;
        color: #051d1f;
        display: inline-grid;
    } /*I'm Anna.*/

    .introduction h4 {
        color: #f1e8e8;
        font-family: 'Allison', cursive;
        font-size: 11vw;
        position: relative;
        bottom: 80vw;
        left: 18vw;
        /* border: 3px solid lemonchiffon; */
        width: fit-content;
        height: auto;
        display: inline-grid;
    } /*located in London*/

    .introduction h4 span {
        color: #e60532;
        text-shadow: 0 0 7px #053636, 0 0 #062931;
        font-size: 20vw;
        width: fit-content;
        display: inline-grid;
        position: relative;
        bottom: 11vw;
        left: 19vw;

    }

@media only screen and (min-width: 700px) {
        
    html {
        border: 3px solid yellow;
        /* background: rgb(150, 94, 9); */
        display: grid;
        width: 100%;
        height: auto;     
        
    } /*
    moves the about and below to the left side; it takes 50% - not whay I wanted by interesting outcome. May look into options*/

    .navbar, .nav-menu {
        width: 100%;
        /* border: 3px solid red; */
        border-radius: 23px;;
        position:sticky;
        top: 0;
    }

    .nav-item {
        width: 100%;
        /* border: 2px solid black; */
        margin: 0 auto;
        text-align: center;
    }

    /*beginning of the introduction section*/
    .introduction {
        display: grid;
        position: relative;
        top: 9vw;
    }

        .introduction h1 {
            font-size: 10vw;
            position: relative;
            right: 8vw;
        }

        .introduction h2 {
            font-size: 9vw;
            
        }

        .introduction h3 {
            font-size: 7vw;
            position: relative;
            right: 22vw;
            bottom: 12vw;   
        }

        .introduction h4 {
            font-size: 7vw;
        }

        .introduction h4 span {
            font-size: 15vw;
        }

    /*end of the introduction section*/

    /*beginning of the about and project section*/
    .about, .work {
        max-width: 100vw;
    }

    /*end of the about and project section*/


    /*beginning of contact section*/
    .contact {
        max-width: 65vw;
    }
    /*end of the contact section*/
}

/* About section*/

.about, .work {
    padding: 8%;
    position: relative;
    bottom: 65vw;
        
}

.about h3, .work h3 {
    font-family: 'Allison', cursive;
    font-size: 3.3em;
    position: relative;
    bottom: 1.3em;
    left: 46vw;
    z-index: 1;
    color: #252424;
    text-shadow: 0 0 7px #d6e7e7, 0 0 7px #c1cacc;
    display: inline-grid;
    
}
.work h3 {
    margin: auto -1em;
}

.contact h3 {
    color: #e60532;
    font-family: 'Allison', cursive;
    font-size: 2.9em;
    text-shadow: 0 0 7px #053636, 0 0 7px #042830;
    position: relative;
    bottom: 1em;
    line-height: 0.7em;
}


.container, .work p, .contact {
    border: 1px solid rgba(10, 14, 13, 0.4);
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
    font-size: 1.3rem;
    height: auto;
    /* overflow: hidden; - it only refers to  the contact form h3 thig; if it is on the text is overflowing and therefore hidden*/
    padding: 1.3em;
    position: relative;
    bottom: 4.6em;
    background-color: rgba(250, 253, 253, 0.3);
    backdrop-filter: blur(2) saturate(70%) contrast(80%) brightness(130%);
    /*blur in backdrop filter doesn't do much. it makes the background a bit more transparent that it is without it*/
    content: '';
        
}

.work p span {
    font-family: 'Allison', cursive;
    font-size:  1.9em;
    text-shadow: 0 0 3px #053636, 0 0 6px #062931;
    color: #f8f4f5;
    position: relative;
    bottom: 0.4em;
    display: inline-grid;
   
}

.about p, .form-controller {
    color: #252424;
    /* color: rgb(52, 52, 53); */
    z-index: 2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    
}

.contact {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    position: relative;
    bottom: 66vw; /*defines the position of the contact form from the bottom (makes some space for the footer)*/
    
}

    .form-controller {
        font-size: 0.9em;
        padding: 1em 0 0.6em 0;
        width: 100%;
        position: relative;
        bottom: 2em;
        text-align: center;
        margin: 0.2em auto;
        border-radius: 12px;
    }

    .message {
        height: 150px;
        width: 100%;
        font-size: 0.9em;
        text-align: start;
        padding: 0.6em;
        border-radius: 12px;
    }

    .form-controller-submit {
        position: relative;
        top: 0.2em;
        font-size: 2em;
        color: #faf5f6;
        font-family: 'Allison', cursive;
        text-shadow: 0 0 7px #053636, 0 0 7px #042830;
        width: 40%;
        height: auto;
        border-radius: 50%;
        background: linear-gradient(to right,#363269, #23a09a);
    }

.references, a {
    font-size: 1.3em;
    text-align: center;
    color: ivory;
    position: relative;
    bottom: 3vw;
    line-height: 7vw;
}


